@model List<CycleModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des cycles</h2>

<table>
    <thead>
        <tr>
            <td>Titre </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var cycle in Model) {
        <tr>
            <td>
                @Html.ActionLink(
                    linkText: @cycle.title,
                    actionName: "Read",
                    controllerName: "Cycle",
                    routeValues: new
                    {
                        id = @cycle.id   
                    },
                    htmlAttributes: null
                )        
               </td>
        </tr>
         }
    </tbody>
</table>

