@model UserModel

@{
    ViewBag.Title = "Index";
}

<h2>Read</h2>

<table>
    <thead>
        <tr>
            <td>Prénom </td>
            <td>Nom </td>
            <td>UserName</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.firstName</td>
            <td>@Model.lastName</td>
            <td>@Model.userName</td>
            <td>@Model.mail</td>
        </tr>
    </tbody>
</table>
