@model List<LevelModel>

@{
    ViewBag.Title = "Index";
}

<h2>Différents niveaux scolaires associés à leurs cycles</h2>

<table>
    <thead>
        <tr>
            <td>Titre </td>
            <td>Cycle </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var level in Model) {
        <tr>
            <td>@level.title</td>
            <td>@level.nomCycle</td>
        </tr>
         }
    </tbody>
</table>

