@model List<YearModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>Année </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var year in Model) {
        <tr>
            <td>@Html.ActionLink(
                    linkText:  @year.year + "",
                    actionName: "Read",
                    controllerName: "Year",
                    routeValues: new
                    {
                        id = @year.id   
                    },
                    htmlAttributes : null
                )</td>
        </tr>
         }
    </tbody>
</table>
