@model List<YearModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>Id année </td>
            <td>Année </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var year in Model) {
        <tr>
            <td>@year.id</td>
            <td>@year.year</td>
        </tr>
         }
    </tbody>
</table>
