@model AcademyModel
@{
    ViewBag.Title = "Edit";
}

<h2>Editer une académie</h2>


@{Html.BeginForm("Edit", "Academy");}

@Html.LabelFor(s => s.name)
@Html.TextBoxFor(s => s.name)
@Html.ValidationMessageFor(s => s.name)


<input type="submit" value="Modifier Académie"/>
@{Html.EndForm();}